<% include head %>
<h1><%= title %></h1>
<p>Welcome to <%= title %></p>
<ul>
    <li><a href="entry1.html">Today I learned: Nav Bar</a></li>
    <li><a href="entry2.html">Today I learned: xkill</a></li>
</ul>
<% include footer %>
