<% include ../head %>
<form action="/entries/<%= entry.id %>" method='POST'>
<label name="slug">Slug</label>
<input type="text" name="slug" value="<%= entry.slug %>">
<br />
<label name="body">Body</label>
<textarea rows="4" cols="50" name="body" value="<%= entry.body %>"></textarea>
<br />
<input type="submit">
</form>

<% include ../footer %>
